<div class="reservation-table-box">
    <h1>Manage Rooms</h1>

    <table name="table" id="table">
        <colgroup>
            <col style="width:500px">
            <col style="width:500px">
          </colgroup>  

          <thead>
            <td>Room ID</td>
            <td>Name</td>
            <td>Max_Capacity</td>
            <td>Availability</td>
          </thead>

        <tbody>

          <tr *ngFor="let room of rooms$ | async">
            <td>{{ room.id }}</td>
            <td>{{ room.name }}</td>
            <td>{{ room.max_capacity }}</td>
            <td><button class="button" type="submit" (click)="onClick(room.name)">Delete</button></td>
        </tr>
 
        </tbody>

  </table>

  <button>Add New Room</button>
</div>