<div class="reservation-table-box">
    <h1>Manage Rooms</h1>

    <table name="table" id="table">
        <colgroup>
            <col style="width:500px">
            <col style="width:500px">
          </colgroup>  

          <thead>
            <td>Room Name</td>
            <td>Max_Capacity</td>
            <td>Manage</td>
          </thead>

        <tbody>

          <tr *ngFor="let room of rooms$ | async">
            <td>{{ room.name }}</td>
            <td>{{ room.max_capacity }}</td>
            <td><button class="delete-button" type="submit" (click)="onClick(room.name)">Delete</button></td>
        </tr>
 
        </tbody>

  </table>

</div>

<button class="add-button"><h4>Add New Room</h4></button>
