<div class="active-reservations">
    <h1>Active Reservations</h1>
    <table name="table" id="table">
      <colgroup>
          <col style="width:1000px">
          <col style="width:1000px">
      </colgroup>  
  
        <thead>
          <td>Resources Name</td>
          <td>Time Reserved</td>
          <td>Manage</td>
        </thead>

        <tbody>
            <tr *ngFor="let reservations of reservations$ | async">
                <td>{{ reservations.subject_name}}</td>
                <td>{{ reservations.start}} - {{ reservations.end }}</td>
                <td><button class="delete-reservation-button" (click)="deleteMyReservation(reservations.identifier_id)">Delete</button></td>
            </tr>
        </tbody>
  
    </table>
</div>