.mat-mdc-card {
    margin: 1em;
    max-width: 1000px;
}

.mat-mdc-form-field {
    width: stretch;
    /* margin-left: 1em; */
}

.add-button {
    background-color: #52bc00;
    border: black;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.submit-button {
    background-color: #429800;
    border: black;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.submit-button:disabled {
    background-color: gray;
}

.input {
    height: 20px;
    width: 140px;
}

.add-room-form{
    border:1px solid #000;
    background-color:#545454;
    padding: 50px;

}