<div class="reservation-table-box">
    <h1>Available Rooms</h1>

    <table name="table" id="table">
        <colgroup>
            <col style="width:1000px">
            <col style="width:1000px">
        </colgroup>  

          <thead>
            <td>Room Name</td>
            <td>Max_Capacity</td>
            <td>Availability</td>
          </thead>

        <tbody>

          <tr *ngFor="let room of rooms$ | async">
            <td>{{ room.name }}</td>
            <td>{{ room.max_capacity }}</td>
            <button title = "check_availibility"><a mat-list-item routerLink="/times">Availabile times</a></button>
        </tr>
       </tbody>

  </table>
</div>