<div class="stats">
    <h1>Active Reservations</h1>
    <table name="table" id="table">
      <colgroup>
          <col style="width:1000px">
          <col style="width:1000px">
          <col style="width:1000px">
      </colgroup>  
  
        <thead>
          <td>PID</td>
          <td>Resources Name</td>
          <td>Time Reserved</td>
        </thead>

        <tbody>
            <tr *ngFor="let reservations of reservations$ | async">
                <td>{{ reservations.pid }}</td>    
                <td>{{ reservations.subject_name}}</td>
                <td>{{ reservations.start}} - {{ reservations.end }}</td>
            </tr>
        </tbody>
  
    </table>
</div>